@media(max-width: 767px){
    .mainNav, .shrink {
        width: 100%;
        background: rgba(26, 35, 44, 0.8);
        transition: all ease .5s;
    }
    
    nav #logo, nav.shrink #logo{
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        transition: all ease .5s;
        color: #58c3ee;
    }
    
    #mainmenu{
        font-size: 20px;
        font-weight: lighter;
    }

    nav #item{
        font-size: 20px;
        font-weight: lighter;
        color: rgba(199, 199, 199, 0.9);
    }
}

@media(min-width: 768px){
    .mainNav {
        width: 100%;
        background: transparent;
        transition: all ease .5s;
    }
    nav #logo{
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        transition: all ease .5s;
        color: rgb(88, 195, 238);
    }

    nav #item{
        font-size: 20px;
        font-weight: lighter;
        color: rgba(199, 199, 199, 0.9);
    }

    nav.shrink {
        transition: all ease .5s;
        background: rgba(26, 35, 44, 0.94) !important;
    }

    nav.shrink #logo {
        padding: 10px;
        transition: all ease .5s;
        color: rgb(88, 195, 238);
    }

    nav.shrink #item{
        font-size: 20px;
        font-weight: lighter;
        color: rgba(199, 199, 199, 0.9);
    }
}